header.header 
    .header_column
        a(href=routes.home)
    .header_column
        
        ul
            li
                a(href=routes.login) login
            li
                a(href=routes.photos) photos
            li
                a(href=routes.profile) profile