.social-login
    button.social-login--github
        spqn
            i.fab.fa-github-square
        |  Continue with Github
    button.social-login--facebook
        spqn
            i.fab.fa-facebook-square
        |  Continue with Facebook